     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: 'poppins', sans-serif;
     }
     
     html {
         scroll-behavior: smooth;
     }
     
     body {
         background: #161616;
         color: #fff;
     }
     
     .header {
         width: 100%;
         background-image: url('./images/bb.jpg');
         height: 100vh;
         background-repeat: no-repeat;
         background-position: fixed;
         background-size: cover;
     }
     
     .container {
         padding: 10px 10%;
     }
     
     .header nav {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         position: fixed;
         top: 10px;
     }
     
     .logo {
         width: 50px;
         cursor: pointer;
     }
     
     nav ul {
         margin-left: 550px;
     }
     
     nav ul li {
         list-style: none;
         display: inline-block;
         margin: 10px 20px;
     }
     
     nav ul li a {
         color: #fff;
         text-decoration: none;
         font-size: 18px;
         text-transform: capitalize;
     }
     
     nav ul li a:hover {
         BACKGROUND-COLOR: #ff004f;
         color: #fff;
         padding: 5px 20px;
         border: 1px solid #ccc;
         border-radius: 5px;
     }
     
     .header-text {
         margin-top: 20%;
         font-size: 30px;
     }
     
     .header-text h1 {
         font-size: 40px;
         margin-top: 20px;
     }
     
     .header-text h1 span {
         color: #ff004f;
     }
     
     .header-text p {
         margin-top: 10px;
         font-size: 24px;
         line-height: 2.2rem;
         margin-bottom: 30px;
     }
     
     .header-text a {
         margin-left: 50px;
         text-decoration: none;
         color: white;
         font-size: 24px;
         border: 1px solid #ff004f;
         background-color: #ff004f;
         padding: 10px 20px;
         border-radius: 10px;
         transition: .5s;
     }
     
     .header-text a:hover {
         box-shadow: 0 0 10px #ff004f;
     }
     /* about section */
     
     .about {
         padding: 80px 0px;
     }
     
     .row {
         display: flex;
         justify-content: space-between;
     }
     
     .about-col1 {
         flex-basis: 35%;
         /*width f col */
     }
     
     .about-col1 img {
         width: 100%;
         height: 100%;
         border-radius: 15px;
     }
     
     .about-col2 {
         flex-basis: 60%;
         margin: 10px 25px;
     }
     
     .sub-title {
         font-size: 40px;
         font-weight: 600;
         color: #fff;
         margin-bottom: 20px;
     }
     
     .tab-titles {
         display: flex;
         margin: 30px 0 40px;
     }
     
     .tab-links {
         margin-right: 50px;
         font-size: 18px;
         font-weight: 500;
         cursor: pointer;
         position: relative;
     }
     
     .tab-links::after {
         content: '';
         width: 0;
         height: 3px;
         background-color: #ff004f;
         position: absolute;
         left: 0;
         bottom: -8px;
         transition: 0.5s;
     }
     
     .tab-links.active-link::after {
         width: 50%;
     }
     
     .tab-contents ul li {
         list-style: none;
         margin: 10px 0;
     }
     
     .tab-contents ul li span {
         color: #b54769;
         font-size: 14px;
         padding: 15px 0;
         line-height: 18px;
     }
     
     .tab-contents {
         display: none;
     }
     
     .active-tab {
         display: block;
     }
     /* project  */
     
     .project {
         padding: 50px 0;
     }
     
     .project h1 {
         text-align: center;
         margin-bottom: 20px;
     }
     
     .row {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
     }
     
     .card-img img {
         width: 100%;
         height: 30vh;
     }
     
     .card {
         background-color: #fff;
         width: 300px;
         height: 400px;
         margin: 30px 20px;
     }
     
     .card-img {
         margin-bottom: 15px;
     }
     
     .card h2 {
         color: black;
         text-align: center;
         text-transform: capitalize;
         margin-bottom: 15px;
     }
     
     .card p {
         color: black;
         margin: 0 15px;
         line-height: 28px;
     }
     
     .card:hover {
         background-color: rgba(177, 165, 165, 0.2);
         color: #fff;
         cursor: pointer;
         transform: scale(1.2);
         transition: all 0.5sec ease;
     }
     /* contact form */
     
     .contact-left {
         flex-basis: 35%;
     }
     
     .contact-right {
         flex-basis: 60%;
     }
     
     .contact-left p {
         margin-top: 30px;
     }
     
     .contact-left p i {
         color: #ff004f;
         margin-right: 15px;
         font-size: 25px;
     }
     
     .icons {
         margin-top: 30px;
     }
     
     .icons a {
         text-decoration: none;
         font-size: 30px;
         margin-right: 15px;
         color: #ababab;
         display: inline-block;
         transition: 0.5s;
         margin-bottom: 40px;
     }
     
     .icons a:hover {
         color: #ff004f;
         transform: translateY(-5px);
     }
     
     .btn {
         margin: 0 0px;
         border: 1px solid #ff004f;
         padding: 10px 30px;
         border-radius: 5px;
         color: #fff;
         background-color: #ff004f;
     }
     
     a {
         text-decoration: none;
     }
     
     .btn:hover {
         transform: scale(1.3);
     }
     
     .contact-right form {
         width: 100%;
     }
     
     form input,
     form textarea {
         width: 100%;
         border: 0;
         outline: none;
         background: #262626;
         padding: 15px;
         margin: 15px 0;
         color: #fff;
         font-size: 18px;
         border-radius: 6px;
     }
     
     .copyright {
         width: 100%;
         text-align: center;
         padding: 25px 0;
         font-weight: 300;
         margin-top: 20px;
         background: #262626;
     }
     /* hiding menu n close icnr */
     
     nav .fas {
         display: none;
     }
     /* for small screen */
     
     @media only screen and (max-width: 768px) {
         .header-text {
             margin-top: 70%;
             font-size: 16px;
         }
         .header-text h1 {
             font-size: 30px;
         }
         nav .fas {
             display: block;
             font-size: 25px;
         }
         nav ul {
             background-color: #e66b92;
             position: fixed;
             top: 0;
             /* right: 0; */
             /* use right -200px to hide */
             right: -200px;
             width: 200px;
             height: 100vh;
             padding: 50px 0 0;
             z-index: 2;
             transition: ease 0.5s;
         }
         nav ul li {
             display: block;
             margin: 25px;
         }
         nav ul .fas {
             position: absolute;
             top: 25px;
             left: 25px;
             cursor: pointer;
         }
         .sub-title {
             font-size: 40px;
         }
         .about-col1,
         .about-col2 {
             flex-basis: 100%;
         }
         .about-col1 {
             margin-bottom: 30px;
         }
         .about-col2 {
             font-size: 14px;
             margin-left: 60px;
         }
         .contact-left,
         .contact-right {
             flex-basis: 100%;
         }
         .contact-right {
             margin-top: 70px;
         }
         .card h2 {
             font-size: 24px;
             margin-bottom: 0;
         }
         .card p {
             line-height: 20px;
             overflow: hidden;
         }
         .about {
             padding: 0px;
         }
         .header nav {
             position: static;
         }
         nav ul {
             margin-left: 0px;
         }
     }